<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - ai.option.web</title>

    <environment include="Development">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
        <link rel="stylesheet" href="~/css/site.css" />
        <link rel="stylesheet" href="~/css/style.css"/>
        <link rel="stylesheet" href="~/css/orange.css"/>
        <link rel="stylesheet" href="~/css/logoiconfont.css"/>

    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.7/css/bootstrap.min.css"
              asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
              asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute" />
        <link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true" />
    </environment>
</head>
<body>

<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
    <!--Nav bar-->
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container-fluid">
            <div class="row">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand scroll-link" href="#home" data-id="home">
                       <img class="img-responsive" style="max-height: 40px" src="images/logo.jpg"/>
                    </a>
                </div>

                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav navbar-right">
                        <li class="active"><a href="@Url.Action("Index", "Home")">Home</a></li>
                        <li class=""><a href="">How it work</a></li>
                        <li class=""><a href="">Contact Us</a></li>
                        @*<li class=""><a href="#ideology" data-id="ideology" class="scroll-link">Ideology</a></li>
                        <li class=""><a href="#services" data-id="services" class="scroll-link">Services</a></li>
                        <li class=""><a href="#about" data-id="about" class="scroll-link">About</a></li>
                        <li class=""><a href="#work" data-id="work" class="scroll-link">Work</a></li>
                        <li class=""><a href="#team" data-id="team" class="scroll-link">Team</a></li>
                        <li class=""><a href="#contact" data-id="contact" class="scroll-link">Contact</a></li>*@
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                                Login
                                <span class="glyphicon glyphicon-menu-down"></span>
                            </a>
                            <ul class="dropdown-menu">
                                <div>
                                    <span></span>
                                </div>
                                @*<li><a href="components.html">Components</a></li>
                                <li><a href="pricing-options.html">Pricing Options</a></li>
                                <li><a href="team-options.html">Team Options</a></li>
                                <li><a href="../index.html">Demos</a></li>
                                <li><a href="https://wrapbootstrap.com/theme/particles-personal-agency-template-WB05N7852" target="_blank">Purchase</a></li>*@
                            </ul>
                        </li>
                    </ul>
                </div><!-- /.navbar-collapse -->
            </div>
        </div><!-- /.container-fluid -->
    </nav>

</div>

<partial name="_CookieConsentPartial"/>
    
@RenderBody()


<footer class="footer-padding">
    <div class="container">
        <div class="row">
            <div class="col-sm-8 col-sm-offset-2 text-center">
                <span class="icon-handle-streamline-vector logo"></span>
                <h2 class="theme-title">Particles<span class="theme-title-smaller">Theme</span></h2>
                <a href="#"><span class="ion-social-twitter social-icons-dark-hover mr15"></span></a>
                <a href="#"><span class="ion-social-facebook social-icons-dark-hover mr15"></span></a>
                <a href="#"><span class="ion-social-googleplus-outline social-icons-dark-hover"></span></a>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-8 col-sm-offset-2 text-small text-center">
                <hr>
                <button type="button" class="btn btn-primary btn-up-footer btn-lg scroll-top">Up</button>
                <p class="no-margin">© Denis Samardjiev</p>
            </div><!-- /.column -->
        </div><!-- /.row -->
    </div><!-- /.container -->
</footer>


<environment include="Development">
    <script src="~/lib/jquery/dist/jquery.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/js/parallax.min.js"></script>
    <script src="~/js/particles.min.js"></script>
    <script src="~/js/particlesRun.js"></script>

</environment>
<environment exclude="Development">
    <script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-3.3.1.min.js"
            asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
            asp-fallback-test="window.jQuery"
            crossorigin="anonymous"
            integrity="sha384-tsQFqpEReu7ZLhBV2VZlAu7zcOV+rXbYlF2cqB8txI/8aZajjp4Bqd+V6D5IgvKT">
    </script>
    <script src="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.7/bootstrap.min.js"
            asp-fallback-src="~/lib/bootstrap/dist/js/bootstrap.min.js"
            asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal"
            crossorigin="anonymous"
            integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa">
    </script>
    <script src="~/js/site.min.js" asp-append-version="true"></script>
</environment>

@RenderSection("Scripts", required: false)
</body>
</html>
