@charset "UTF-8";

@font-face {
    font-family: "untitled-font-1";
    font-style: normal;
    font-weight: normal;
    src: url("https://file.myfontastic.com/gC6yNbQq8CqvXgSqXQZAoH/fonts/1459824891.eot");
    src: url("https://file.myfontastic.com/gC6yNbQq8CqvXgSqXQZAoH/fonts/1459824891.eot?#iefix") format("embedded-opentype"),
         url("https://file.myfontastic.com/gC6yNbQq8CqvXgSqXQZAoH/fonts/1459824891.woff") format("woff"),
         url("https://file.myfontastic.com/gC6yNbQq8CqvXgSqXQZAoH/fonts/1459824891.ttf") format("truetype"),
         url("https://file.myfontastic.com/gC6yNbQq8CqvXgSqXQZAoH/fonts/1459824891.svg#1459824891") format("svg");
}

[data-icon]:before {
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    content: attr(data-icon);
    font-family: "untitled-font-1" !important;
    font-style: normal !important;
    font-variant: normal !important;
    font-weight: normal !important;
    line-height: 1;
    speak: none;
    text-transform: none !important;
}

[class^="icon-"]:before,
[class*=" icon-"]:before {
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    font-family: "untitled-font-1" !important;
    font-style: normal !important;
    font-variant: normal !important;
    font-weight: normal !important;
    line-height: 1;
    speak: none;
    text-transform: none !important;
}

.icon-handle-streamline-vector:before { content: "\61"; }