/*
Name:Particles - Personal + Agency Template
Version:1.4
Author:Denis Samardjiev
*/

/* =Table of Contents
--------------------------------------------------------------
	=Common Styles
	=Margin + Padding
	=Typography
	=Buttons
	=Progress Bars
    =Alerts
    =Lists
    =Tabs
    =Panels
    =Thumbnails
    =Animate Examples
    =Accordion
	=Call to Action
	=Navigation
	=Jumbotron Main
    =Jumbotron Register
	=Hello Intro
	=Our Process
	=Carousel
	=Services
    =About
    =Profile
    =Count
	=Team
	=Work
	=Pricing
	=Timeline
	=Contact + Map
    =Footer
    =Media Queries
*/

@import url(https://fonts.googleapis.com/css?family=Roboto:700,400,300,100|Montserrat:400,700);

/* =Common Styles
-------------------------------------------------------------- */

body {
    background-color: #1d1d1d;
    color: #A2A2A2;
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    font-weight: 300;
    height: 100%;
    min-height: 100% !important;
    padding-top: 69px;
}

html { height: 100%; }

a:active, a:focus { outline: none; }

a {
    -moz-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
    -webkit-transition: all 0.4s ease-in-out;
    color: #8980fe;
    outline: none;
    transition: all 0.4s ease-in-out;
}

a.thumbnail.active, a.thumbnail:focus, a.thumbnail:hover { border-color: #8980fe; }

a:focus, a:hover {
    color: #8980fe;
    text-decoration: underline;
}

.mini-hr {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-color: #424242;
    border-image: none;
    border-style: solid none;
    clear: both;
    height: 1px;
    position: relative;
    text-align: left;
    width: 20px;
}

span.divider {
    background-color: #8980fe;
    display: block;
    height: 2px;
    margin: 25px 0px;
    width: 100px;
}

span.divider.center {
    margin-left: auto;
    margin-right: auto;
}

textarea:hover,
input:hover,
textarea:active,
input:active,
textarea:focus,
input:focus,
button:focus,
button:active,
button:hover,
#LoginSection .form-control:focus,
#LoginSection .form-control:hover,
#LoginSection .form-control:active,
#contact .form-control:focus,
#contact .form-control:hover,
#contact .form-control:active {
    -moz-box-shadow: none !important;
    -webkit-box-shadow: none !important;
    border-color: #8980fe;
    box-shadow: none !important;
}

.ticker {
    height: 70px;
    overflow: hidden;
    vertical-align: baseline;
}

.ticker h1 {
    -moz-transition: margin-top 0.5s ease-in-out;
    -o-transition: margin-top 0.5s ease-in-out;
    -webkit-transition: margin-top 0.5s ease-in-out;
    height: 70px;
    margin: 0px;
    transition: margin-top 0.5s ease-in-out;
}

.big-logo { font-size: 70px; }

.background1 { background-color: #212121; }

.background2 { background-color: #1d1d1d; }

/* =Margin + Padding
-------------------------------------------------------------- */

.pt10 { padding-top: 10px !important; }

.pt15 { padding-top: 15px !important; }

.pt20 { padding-top: 20px !important; }

.pt30 { padding-top: 30px !important; }

.pt40 { padding-top: 40px !important; }

.pt50 { padding-top: 50px !important; }

.pt60 { padding-top: 60px !important; }

.pt80 { padding-top: 80px !important; }

.pt90 { padding-top: 90px !important; }

.pt100 { padding-top: 100px !important; }

.pb0 { padding-bottom: 0px !important; }

.pb5 { padding-bottom: 5px !important; }

.pb10 { padding-bottom: 10px !important; }

.pb15 { padding-bottom: 15px !important; }

.pb20 { padding-bottom: 20px !important; }

.pb30 { padding-bottom: 30px !important; }

.pb40 { padding-bottom: 40px !important; }

.pb50 { padding-bottom: 50px !important; }

.pb60 { padding-bottom: 60px !important; }

.pb80 { padding-bottom: 80px !important; }

.pb90 { padding-bottom: 90px !important; }

.pb100 { padding-bottom: 100px !important; }

.mt10 { margin-top: 10px !important; }

.mt15 { margin-top: 15px !important; }

.mt20 { margin-top: 20px !important; }

.mt30 { margin-top: 30px !important; }

.mt40 { margin-top: 40px !important; }

.mt50 { margin-top: 50px !important; }

.mt60 { margin-top: 60px !important; }

.mt80 { margin-top: 80px !important; }

.mt90 { margin-top: 90px !important; }

.mt100 { margin-top: 100px !important; }

.mb0 { margin-bottom: 0 !important; }

.mb5 { margin-bottom: 5px !important; }

.mb10 { margin-bottom: 10px !important; }

.mb15 { margin-bottom: 15px !important; }

.mb20 { margin-bottom: 20px !important; }

.mb30 { margin-bottom: 30px !important; }

.mb40 { margin-bottom: 40px !important; }

.mb50 { margin-bottom: 50px !important; }

.mb60 { margin-bottom: 60px !important; }

.mb80 { margin-bottom: 80px !important; }

.mb90 { margin-bottom: 90px !important; }

.mb100 { margin-bottom: 100px !important; }

.ml30 { margin-left: 30px }

.mr30 { margin-right: 30px }

.ml15 { margin-left: 15px }

.mr15 { margin-right: 15px }

.pl30 { padding-left: 30px }

.pr30 { padding-right: 30px }

.pl15 { padding-left: 15px }

.pr15 { padding-right: 15px }

.no-margin { margin: 0 !important; }

.no-padding { padding: 0 !important; }

.no-margin-top { margin-top: 0 !important; }

.no-padding-top { padding-top: 0 !important; }

.no-margin-bottom { margin-bottom: 0 !important; }

.no-padding-bottom { padding-bottom: 0 !important; }

.section-padding {
    padding-bottom: 80px;
    padding-top: 80px;
}

.section-padding-top { padding-top: 80px; }

.footer-padding {
    padding-bottom: 60px;
    padding-top: 60px;
}

/* =Typography
-------------------------------------------------------------- */

.text-switch { color: #fff; }

.text-small { font-size: 16px; }

.text-xs-small { font-size: 13px; }

.h4, .h5, .h6, h4, h5, h6 { margin: 0; }

.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
    color: #fff;
    font-weight: 100;
}

.lead { font-size: 23px; }

.lead strong { color: #fff; }

.section-title { text-align: center; }

.section-title h2 {
    color: #fff;
    font-family: 'Montserrat', sans-serif;
    font-size: 38px;
    font-weight: 400;
    line-height: .80;
    margin: 0;
}

.section-divider {
    background-color: rgba(255, 255, 255, 0.15);
    display: inline-block;
    height: 1px;
    margin-bottom: 30px;
    margin-top: 20px;
    width: 60px;
}

.section-title-nocap { margin-bottom: 0; }

.heading-1 {
    border-bottom: 1px solid #424242;
    color: #fff;
    display: inline-block;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    margin: 0;
    padding-bottom: 4px;
    text-transform: uppercase;
}

.heading-2 {
    border-bottom: 1px dotted #666;
    color: #fff;
    display: inline-block;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    margin: 0;
    padding-bottom: 4px;
    text-transform: lowercase;
}

.heading-3 {
    color: #fff;
    font-family: 'Montserrat', sans-serif;
    font-size: 12px;
    font-weight: 700;
    letter-spacing: 2px;
    margin-bottom: 13px;
    margin-top: 6px;
    text-transform: uppercase;
}

.heading-3-icon {
    color: #fff;
    font-size: 26px;
}

.img-responsive { width: 100%; }

.breadcrumb-holder {
    background: #272727;
    padding: 12px 17px 12px 0;
}

.breadcrumb {
    background-color: transparent;
    border-radius: 0;
    font-size: 14px;
    list-style: none;
    margin-bottom: 0;
    padding: 0;
}

.breadcrumb a { color: #fff; }

.breadcrumb-home {
    color: #fff;
    margin-right: 15px;
}

.breadcrumb-holder h1 {
    color: #fff;
    font-family: 'Montserrat', sans-serif;
    font-size: 12px;
    font-weight: 700;
    margin-bottom: 0;
    margin-top: 4px;
    text-transform: uppercase;
}

.breadcrumb > li + li:before {
    color: #4A4A4A;
    content: "\f3d3";
    font-family: 'Ionicons';
    padding: 0 13px;
}

/* =Buttons
-------------------------------------------------------------- */

.btn {
    -moz-transition: all 0.5s ease 0s;
    -o-transition: all 0.5s ease 0s;
    -webkit-transition: all 0.5s ease 0s;
    border-radius: 45px;
    font-family: 'Montserrat', sans-serif;
    font-size: 10px;
    font-weight: 300;
    letter-spacing: 2px;
    margin-bottom: 1px;
    text-transform: uppercase;
    transition: all 0.5s ease 0s;
}

.btn-default {
    background-color: transparent;
    border-color: #535353;
    color: #fff;
}

.btn-default:hover {
    background-color: #8980fe;
    border-color: #8980fe;
    color: #fff;
}

.btn-default.active.focus, .btn-default.active:focus, .btn-default.active:hover, .btn-default:active.focus, .btn-default:active:focus, .btn-default:active:hover, .open > .dropdown-toggle.btn-default.focus, .open > .dropdown-toggle.btn-default:focus, .open > .dropdown-toggle.btn-default:hover {
    background-color: #8980fe;
    border-color: #8980fe;
    color: #fff;
}

.btn.active.focus, .btn.active:focus, .btn.focus, .btn:active.focus, .btn:active:focus, .btn:focus { outline: none; }

.btn-default.active, .btn-default:active, .open > .dropdown-toggle.btn-default {
    background-color: #8980fe;
    border-color: #8980fe;
    color: #fff;
}

.btn-default.disabled.focus, .btn-default.disabled:focus, .btn-default.disabled:hover, .btn-default[disabled].focus, .btn-default[disabled]:focus, .btn-default[disabled]:hover, fieldset[disabled] .btn-default.focus, fieldset[disabled] .btn-default:focus, fieldset[disabled] .btn-default:hover {
    background-color: #8980fe;
    border-color: #8980fe;
    color: #fff;
}

.btn-default.disabled.focus, .btn-default.disabled:focus, .btn-default.disabled:hover, .btn-default[disabled].focus, .btn-default[disabled]:focus, .btn-default[disabled]:hover, fieldset[disabled] .btn-default.focus, fieldset[disabled] .btn-default:focus, fieldset[disabled] .btn-default:hover { color: #fff; }

.btn-primary {
    background-color: #8980fe;
    border-color: #8980fe;
    color: #fff;
}

.btn-primary:hover {
    background-color: #615fde;
    border-color: #615fde;
    color: #fff;
}

.btn-primary.active.focus, .btn-primary.active:focus, .btn-primary.active:hover, .btn-primary:active.focus, .btn-primary:active:focus, .btn-primary:active:hover, .open > .dropdown-toggle.btn-primary.focus, .open > .dropdown-toggle.btn-primary:focus, .open > .dropdown-toggle.btn-primary:hover {
    background-color: #615fde;
    border-color: #615fde;
    color: #fff;
}

.btn-primary.focus, .btn-primary:focus {
    background-color: #504ED2;
    border-color: #504ED2;
    color: #fff;
}

.btn.active.focus, .btn.active:focus, .btn.focus, .btn:active.focus, .btn:active:focus, .btn:focus { outline: none; }

.btn-primary.active, .btn-primary:active, .open > .dropdown-toggle.btn-primary {
    background-color: #615fde;
    border-color: #615fde;
    color: #fff;
}

.btn-primary.disabled.focus, .btn-primary.disabled:focus, .btn-primary.disabled:hover, .btn-primary[disabled].focus, .btn-primary[disabled]:focus, .btn-primary[disabled]:hover, fieldset[disabled] .btn-primary.focus, fieldset[disabled] .btn-primary:focus, fieldset[disabled] .btn-primary:hover {
    background-color: #615fde;
    border-color: #615fde;
    color: #fff;
}

.btn-primary.disabled.focus, .btn-primary.disabled:focus, .btn-primary.disabled:hover, .btn-primary[disabled].focus, .btn-primary[disabled]:focus, .btn-primary[disabled]:hover, fieldset[disabled] .btn-primary.focus, fieldset[disabled] .btn-primary:focus, fieldset[disabled] .btn-primary:hover { color: #fff; }

.btn-white { border-color: #fff; }

.btn-lg { padding: 12px 26px; }

.btn-light {
    -moz-transition: all 0.5s ease 0s;
    -o-transition: all 0.5s ease 0s;
    -webkit-transition: all 0.5s ease 0s;
    background-color: transparent;
    border-color: #B1B1B1;
    color: #757575;
    transition: all 0.5s ease 0s;
}

.btn-light:hover {
    background-color: #8980fe;
    border-color: #8980fe;
    color: #fff;
}

/* =Progress Bars
-------------------------------------------------------------- */

.progress {
    background-color: transparent;
    border: 1px solid #303030;
    border-radius: 11px;
    box-shadow: none;
    height: 26px;
    margin-bottom: 6px;
    padding: 3px;
}

.progress-bar {
    background-color: #8980fe;
    border-radius: 11px;
    box-shadow: none;
    font-size: 13px;
    font-weight: 300;
    line-height: 18px;
    padding-left: 6px;
    text-align: left;
}

.progress-meter {
    border-bottom: 1px solid #303030;
    min-height: 15px;
}

.progress-meter > .meter {
    border-color: #303030;
    border-style: solid;
    border-width: 0px;
    float: left;
    min-height: 15px;
    position: relative;
}

.progress-meter > .meter-left { border-left-width: 1px; }

.progress-meter > .meter-right {
    border-right-width: 1px;
    float: right;
}

.progress-meter > .meter-right:last-child { border-left-width: 1px; }

.progress-meter > .meter > .meter-text {
    bottom: -20px;
    color: #606060;
    display: inline-block;
    font-size: 12px;
    position: absolute;
    text-align: left;
    width: 100%;
}

.progress-meter > .meter.meter-right > .meter-text { text-align: right; }

/* =Alerts
-------------------------------------------------------------- */

.alert {
    border-radius: 45px;
    margin-bottom: 15px;
    padding: 15px 15px 15px 18px;
}

.alert-success {
    background-color: #5CB85C;
    border-color: #5CB85C;
    color: #FFFFFF;
}

.alert-info {
    background-color: #5bc0de;
    border-color: #46b8da;
    color: #fff;
}

.alert-warning {
    background-color: #f0ad4e;
    border-color: #eea236;
    color: #fff;
}

.alert-danger {
    background-color: #d9534f;
    border-color: #d43f3a;
    color: #fff;
}

.alert-dismissable .close, .alert-dismissible .close { top: -10px; }

.alert-dismissable, .alert-dismissible { padding-right: 42px; }

/* =Lists
-------------------------------------------------------------- */

ul.list-arrow { list-style-type: none; }

ul.list-arrow li { text-indent: -1.3em; }

ul.list-arrow li:before {
    content: "\f3d3";
    float: left;
    font-family: Ionicons;
    width: 1.3em;
}

ul.list-arrow-color li:before { color: #8980fe; }

ul.list-arrow-2 { list-style-type: none; }

ul.list-arrow-2 li { text-indent: -1.3em; }

ul.list-arrow-2 li:before {
    content: "\f3d6";
    float: left;
    font-family: Ionicons;
    width: 1.3em;
}

ul.list-arrow-2-color li:before { color: #8980fe; }

ul.social-buttons li a {
    -moz-transition: all 0.4s;
    -webkit-transition: all 0.4s;
    background-color: #333;
    border-radius: 100%;
    color: white;
    display: block;
    font-size: 20px;
    height: 40px;
    line-height: 40px;
    margin-bottom: 15px;
    outline: none;
    text-align: center;
    transition: all 0.4s;
    width: 40px;
}

ul.social-buttons li a:hover,
ul.social-buttons li a:focus,
ul.social-buttons li a:active { background-color: #8980fe; }

/* =Tabs
-------------------------------------------------------------- */

.nav-tabs { border-bottom: 1px solid #313131; }

.nav-tabs > li > a {
    color: #ccc;
    font-size: 16px;
}

.nav-tabs > li.active > a, .nav-tabs > li.active > a:focus, .nav-tabs > li.active > a:hover {
    background-color: #8980fe;
    border: 1px solid #8980fe;
    border-bottom: 2px solid #615fde;
    color: #fff;
}

.nav-tabs > li > a:hover { border-color: #615fde; }

.nav > li > a:focus, .nav > li > a:hover {
    background-color: #615fde;
    color: #fff;
    text-decoration: none;
}

.tab-content {
    border: 1px solid #313131;
    padding: 30px;
}

.tab-content.tab-default {
    border: 1px solid #313131;
    border-top: none;
    padding: 20px;
}

.tab-pane::first-letter {
    color: #fff;
    font-family: "Montserrat", sans-serif;
    font-size: 120%;
    font-weight: 700;
}

/* =Panels
-------------------------------------------------------------- */

.panel {
    background-color: transparent;
    border-radius: 0;
}

.panel-heading {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

.panel-group .panel { border-radius: 0; }

.panel-default { border-color: #313131; }

.panel-default > .panel-heading {
    background-color: #313131;
    border-color: #313131;
    color: #ccc;
}

.panel-default {
    background-color: #1D1D1D;
    border: 1px solid #313131;
    border-radius: 4px;
}

.panel-body {
    font-size: 14px;
    padding: 15px 20px;
}

.panel-default > .panel-heading + .panel-collapse > .panel-body { border-top-color: #313131; }

.panel-group .panel-heading + .panel-collapse > .list-group, .panel-group .panel-heading + .panel-collapse > .panel-body { border-top: 1px solid #313131; }

.panel-success > .panel-heading {
    background-color: #5CB85C;
    border-color: #5CB85C;
    color: #FFFFFF;
}

.panel-success { border-color: #5CB85C; }

.panel-info > .panel-heading {
    background-color: #5bc0de;
    border-color: #46b8da;
    color: #fff;
}

.panel-info { border-color: #5bc0de; }

.panel-warning > .panel-heading {
    background-color: #f0ad4e;
    border-color: #eea236;
    color: #fff;
}

.panel-warning { border-color: #f0ad4e; }

.panel-danger > .panel-heading {
    background-color: #d9534f;
    border-color: #d43f3a;
    color: #fff;
}

.panel-danger { border-color: #d9534f; }

.label { font-weight: 300; }

/* =Thumbnails
-------------------------------------------------------------- */

.thumbnail {
    background-color: transparent;
    border: 1px solid #313131;
    border-radius: 0;
    padding: 19px;
}

.thumbnail .caption {
    color: #A2A2A2;
    padding: 5px;
}

/* =Animate Examples
-------------------------------------------------------------- */

.animate-example-box {
    border-radius: 45px;
    height: 50px;
    width: 100%;
}

.animate-color-1 { background-color: #8980fe; }

.animate-color-2 { background-color: #3498db; }

.animate-color-3 { background-color: #2ecc71; }

.animate-color-4 { background-color: #f39c12; }

.animate-color-5 { background-color: #FF3B30; }

.animate-color-6 { background-color: #1abc9c; }

.animate-color-7 { background-color: #F2784B; }

.animate-color-8 { background-color: #65C6BB; }

.animate-color-9 { background-color: #F64747; }

/* =Modals
-------------------------------------------------------------- */

.modal-content { border-radius: 0 !important; }

.modal-header {
    background: #6819e8;
    background: -moz-linear-gradient(left, #6819e8 0%, #7437d0 35%, #615fde 68%, #6980f2 100%);
    background: -webkit-linear-gradient(left, #6819e8 0%, #7437d0 35%, #615fde 68%, #6980f2 100%);
    background: linear-gradient(to right, #6819e8 0%, #7437d0 35%, #615fde 68%, #6980f2 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#6819e8', endColorstr='#6980f2', GradientType=1);
    outline-offset: -13px;
    padding: 40px;
}

.modal-body { padding: 40px; }

.modal-footer { text-align: center; }

.modal-body p {
    color: #737373;
    font-size: 16px;
    font-weight: 300;
}

.modal-heading {
    border-bottom: 1px solid #404040;
    color: #212121;
    text-transform: uppercase;
}

.close {
    -moz-transition: all 0.5s ease 0s;
    -o-transition: all 0.5s ease 0s;
    -webkit-transition: all 0.5s ease 0s;
    color: #fff;
    filter: none;
    font-size: 45px;
    opacity: 1;
    text-shadow: none;
    transition: all 0.5s ease 0s;
}

.modal-header .close {
    margin-right: -70px;
    margin-top: -52px;
}

.close:focus, .close:hover {
    color: #FFF;
    filter: none;
    opacity: 0.6;
}

.modal-backdrop.in { opacity: 0.6; }

/* =Call to action
-------------------------------------------------------------- */

.call-to-action {
    border: 1px solid #2c2c2c;
    color: #b0b0b0;
    font-size: 24px;
    padding: 0 30px;
}

.call-to-action p { line-height: 112px; }

.call-to-action strong { color: #fff; }

/* =Navigation
-------------------------------------------------------------- */

.logo {
    color: #fff;
    font-size: 39px;
}

.navbar-brand {
    height: auto;
    padding: 15px 15px 0 15px;
}

.navbar {
    border: 0;
    border-radius: 0;
    margin-bottom: 0;
}

.navbar-default {
    background: rgb(47, 47, 47) none repeat scroll 0% 0%;
    font-family: "Montserrat", sans-serif;
    font-size: 12px;
    text-transform: uppercase;
}

.navbar-default .navbar-nav > li > a {
    color: #fff;
    font-weight: 400;
    line-height: 3.3;
}

.navbar-default .navbar-nav > li > a:focus, .navbar-default .navbar-nav > li > a:hover {
    -moz-transition: color 0.5s ease 0s;
    -o-transition: color 0.5s ease 0s;
    -webkit-transition: color 0.5s ease 0s;
    background-color: transparent;
    color: rgba(255, 255, 255, 0.60);
    transition: color 0.5s ease 0s;
}

.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:focus, .navbar-default .navbar-nav > .open > a:hover {
    background-color: transparent;
    color: #8980fe;
}

.navbar-right { margin-right: 15px; }

.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:focus, .navbar-default .navbar-nav > .active > a:hover {
    background-color: transparent;
    color: #8980fe;
}

.dropdown-menu > li > a {
    clear: both;
    color: #FFF;
    display: block;
    font-size: 12px;
    font-weight: 400;
    line-height: 1.42857;
    padding: 3px 20px;
    white-space: nowrap;
}

.dropdown-menu > li > a:focus, .dropdown-menu > li > a:hover {
    background-color: transparent;
    color: rgba(255, 255, 255, 0.60);
    text-decoration: none;
}

.dropdown-menu {
    background-color: #3C3C3C;
    border: 1px solid rgba(66, 67, 66, 1);
    border-radius: 0;
    box-shadow: none;
    min-width: 150px;
    padding: 12px 0;
}

.navbar-toggle {
    border-radius: 0;
    margin-bottom: 18px;
    margin-top: 18px;
}

.navbar-default .navbar-toggle {
    background-color: #8980fe;
    border-color: #8980fe;
}

.navbar-default .navbar-toggle .icon-bar { background-color: #fff; }

.navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover { background-color: #7369F9; }

.navbar-default .navbar-collapse, .navbar-default .navbar-form { border-color: #333; }

.navbar-nav { -webkit-backface-visibility: hidden; }

/* =Jumbotron Main
-------------------------------------------------------------- */

.jumbotron.jumbotron-main {
    color: #fff;
    font-family: 'Roboto', sans-serif;
    height: 100%;
    margin: 0;
    padding-bottom: 0;
    padding-top: 0;
    position: relative;
    width: 100%;
}

#particles-js {
    background: #6819e8; /* Old browsers */
    background: -moz-linear-gradient(left, #6819e8 0%, #7437d0 35%, #615fde 68%, #6980f2 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(left, #6819e8 0%, #7437d0 35%, #615fde 68%, #6980f2 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right, #6819e8 0%, #7437d0 35%, #615fde 68%, #6980f2 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    background-image: url("");
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: cover;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#6819e8', endColorstr='#6980f2', GradientType=1); /* IE6-9 */
    height: 100%;
    position: absolute;
    width: 100%;
}

.jumbotron.jumbotron-main hr {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-color: rgba(255, 255, 255, 0.35);
    border-image: none;
    border-style: dotted none;
    border-width: 1px 0px;
    clear: both;
    height: 4px;
    position: relative;
    text-align: center;
    width: 49px;
}

.jumbotron.jumbotron-main a { color: #fff; }

.center-vertically {
    display: table-cell;
    height: 100%;
    vertical-align: middle;
}

.center-vertically-holder {
    display: table;
    height: 100%;
}

.scroll-indicator {
    display: inline-block;
    padding-top: 6px;
    width: 50px;
}

.arrow-scroll-indicator {
    color: rgba(255, 255, 255, 0.60);
    font-size: 10px;
}

.parallax-window { background: transparent; }

/* =Jumbotron Register
-------------------------------------------------------------- */

.jumbotron.jumbotron-register {
    color: #fff;
    font-family: 'Roboto', sans-serif;
    height: 100%;
    margin: 0;
    padding-bottom: 0;
    padding-top: 0;
    position: relative;
    width: 100%;
}

.jumbotron.jumbotron-register a { color: #fff; }

.register-form {
    background-color: #FFFFFF;
    border: 2px solid #eee;
    border-radius: 5px;
    padding: 40px;
}

.register-form h3 { color: #414141; }

.jumbotron.jumbotron-register h1 { font-size: 59px; }

/* =Hello Intro
-------------------------------------------------------------- */

#hello-intro h2 {
    border-bottom: 1px solid #fff;
    color: #fff;
    display: inline-block;
    font-family: 'Montserrat', sans-serif;
    font-size: 42px;
    font-weight: 700;
    padding-bottom: 4px;
    text-transform: uppercase;
}

#hello-intro h3 {
    color: #b0b0b0;
    font-family: 'Roboto', sans-serif;
    font-size: 25px;
    font-weight: 100;
}

#hello-intro h3 strong { font-weight: 300; }

/* =Our Process
-------------------------------------------------------------- */

#our-process-title {
    background-color: #3a3a3a;
    position: relative;
}

#our-process-title h4 {
    color: #fff;
    font-family: 'Montserrat', sans-serif;
    font-size: 12px;
    font-weight: 700;
    letter-spacing: 2px;
    text-transform: uppercase;
}

#our-process-title::after {
    border-left: 14px solid transparent;
    border-right: 14px solid transparent;
    border-top: 14px solid #3A3A3A;
    bottom: -14px;
    content: " ";
    height: 0px;
    left: 50%;
    margin-left: -14px;
    position: absolute;
    width: 0px;
}

#our-process h2 {
    color: #fff;
    font-family: 'Roboto', ssans-serif;
    font-size: 33px;
    font-weight: 100;
    margin-top: 18px;
}

#our-process .process-box {
    background-position: center bottom;
    background-repeat: no-repeat;
    border-right: 1px solid #2d2d2d;
    min-height: 400px;
}

#our-process .process-box:hover { background-image: url('../images/arrow-bg-hover.png'); }

#our-process .process-box.no-hover:hover { background-image: none; }

#our-process .process-number {
    border-bottom: 2px solid #2d2d2d;
    color: #fff;
    display: inline-block;
    font-family: 'Montserrat', sans-serif;
    font-size: 36px;
    font-weight: 700;
    margin-bottom: 30px;
    padding-bottom: 4px;
    text-transform: uppercase;
}

#our-process .process-icons {
    color: #8980fe;
    font-size: 90px;
}

#our-process .process-content {
    display: none;
    text-align: center;
}

#our-process .process-content p {
    color: #A2A2A2;
    display: inline-block;
    font-weight: 100;
    width: 69%;
}

/* =Carousel
-------------------------------------------------------------- */

.carousel-caption {
    background-color: rgba(0, 0, 0, 0.5);
    bottom: 0;
    left: auto;
    padding: 30px;
    right: auto;
    text-shadow: none;
    width: 100%;
}

.carousel-control {
    font-size: 42px;
    text-shadow: none;
    width: 10%;
}

.carousel-control.right { background-image: none; }

.carousel-control.left { background-image: none; }

.carousel-control .carousel-arrow-left,
.carousel-control .carousel-arrow-right {
    display: inline-block;
    height: 20px;
    left: 50%;
    margin-left: -10px;
    margin-top: -20px;
    position: absolute;
    top: 50%;
    width: 20px;
    z-index: 5;
}

#carousel-fixed h3 { color: #fff; }

.testimonial-carousel { background-color: #212121; }

.fade-quote-carousel.carousel {
    font-weight: 100;
    padding-bottom: 30px;
}

.fade-quote-carousel.carousel .carousel-indicators { bottom: 10px; }

.fade-quote-carousel.carousel .carousel-indicators > li {
    border: 1px solid #8980fe;
    height: 8px;
    width: 8px;
}

.fade-quote-carousel.carousel .carousel-indicators .active {
    background-color: #8980fe;
    margin: 1px;
}

.fade-quote-carousel blockquote {
    border: none;
    color: #6a6a6a;
    font-size: 21px;
    padding: 0;
    text-align: center;
}

.fade-quote-carousel.carousel p { color: #fff; }

/* =Services
-------------------------------------------------------------- */

.services-icon {
    color: #8980fe;
    font-size: 40px;
}

.service-name {
    margin-bottom: 15px;
    margin-top: 15px;
}

.services-icon-2 {
    color: #fff;
    float: left;
    font-size: 70px;
    line-height: .8;
    margin-right: 15px;
}

.service-title {
    color: #fff;
    font-family: "Montserrat", sans-serif;
    font-size: 28px;
    margin-top: 13px;
}

.services-box {
    -moz-transition: 0.6s;
    -o-transition: 0.6s;
    -webkit-transition: 0.6s;
    background-color: #212121;
    border-left: 2px solid #292929;
    padding: 30px;
    transition: 0.6s;
}

/* =About
-------------------------------------------------------------- */

.basic-carousel.carousel .carousel-indicators { bottom: 10px; }

.basic-carousel.carousel .carousel-indicators > li {
    border: 1px solid #8980fe;
    height: 8px;
    width: 8px;
}

.basic-carousel.carousel .carousel-indicators .active {
    background-color: #8980fe;
    margin: 1px;
}

#about .carousel-control.right { display: none; }

#about .carousel-control.left { display: none; }

.logo-about {
    clear: both;
    color: #fff;
    float: left;
    font-size: 44px;
    margin-right: 25px;
    margin-top: 5px;
}

/* =Profile
-------------------------------------------------------------- */

.profile-box {
    background-color: #212121;
    outline: 1px solid #2D2D2D;
    outline-offset: -13px;
    padding: 20px 30px 15px 30px;
    position: relative;
}

.profile-box strong {
    color: #fff;
    font-size: 16px;
}

.profile-box ul li {
    border-bottom: 1px solid #2D2D2D;
    font-size: 14px;
    padding: 5px 0;
}

.profile-box ul li:last-child { border-bottom: 0; }

/* =Our Count
-------------------------------------------------------------- */

#ourcount .item { text-align: center; }


#ourcount .item > .circle-hold {
    background-color: #8980FE;
    border-radius: 50%;
    height: 110px;
    margin: 0 auto;
    margin-bottom: 20px;
    position: relative;
    width: 110px;
}

#ourcount .item > .circle-hold > i {
    color: #fff;
    display: block;
    font-size: 52px;
    height: 60px;
    left: 50%;
    line-height: 60px;
    margin-left: -30px;
    margin-top: -30px;
    position: absolute;
    text-align: center;
    top: 50%;
    width: 60px;
}

/* =Team
-------------------------------------------------------------- */

.team-member-img { border: 4px solid #2f2f2f; }

.team-member-box-2 .team-member-img {
    margin: auto;
    width: 225px;
}

.team-member-box {
    -moz-transition: opacity 500ms;
    -o-transition: opacity 500ms;
    -webkit-transition: opacity 500ms;
    background-color: #272727;
    padding: 30px;
    text-align: center;
    transition: opacity 500ms;
}

.team-member-box:hover { background-color: #313131; }

.team-member-box h3 {
    margin-bottom: 3px;
    margin-top: 0;
}

.team-member-box-2 h3 {
    margin-bottom: 3px;
    margin-top: 20px;
}

.team-image-wrapper {
    border-radius: 100%;
    margin: 0 auto;
    overflow: hidden;
    position: relative;
}

.team-image-wrapper .team-image-hover {
    -moz-transition: opacity 500ms;
    -o-transition: opacity 500ms;
    -webkit-transition: opacity 500ms;
    background-color: rgba(137, 128, 254, 0.80);
    border-radius: 100%;
    bottom: 0;
    color: #fff;
    left: 0;
    opacity: 0;
    position: absolute;
    right: 0;
    top: 0;
    transition: opacity 500ms;
}

.team-image-wrapper .team-image-hover .team-hover-content {
    border-radius: 100%;
    display: inline-block;
    text-align: center;
    vertical-align: middle;
}

.team-image-wrapper:hover .team-image-hover { opacity: 1; }

.team-image-hover:before {
    content: ' ';
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}

.social-icons-light-hover {
    -moz-transition: color 500ms;
    -o-transition: color 500ms;
    -webkit-transition: color 500ms;
    color: #fff;
    transition: color 500ms;
}

.social-icons-light-hover:hover { color: rgba(255, 255, 255, 0.70); }

.social-icon-title {
    border-bottom: 1px dotted rgba(255, 255, 255, 0.50);
    display: block;
    font-size: 24px;
    margin-bottom: 7px;
    padding-bottom: 3px;
}

/* =Work
-------------------------------------------------------------- */

#thework .mix { display: none; }

.btn-sort {
    border: 2px solid;
    border-radius: 50%;
    font-size: 14px;
    height: 32px;
    padding: 0;
    width: 32px;
}

.btn-category { border: 2px solid #fff; }

#thework .portfolio-box:hover span.portfolio-hover { opacity: 1; }

span.portfolio-hover {
    -moz-transition: opacity 500ms;
    -o-transition: opacity 500ms;
    -webkit-transition: opacity 500ms;
    background: #6819e8; /* Old browsers */
    background: -moz-linear-gradient(left, #6819e8 0%, #7437d0 35%, #615fde 68%, #6980f2 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(left, #6819e8 0%, #7437d0 35%, #615fde 68%, #6980f2 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right, #6819e8 0%, #7437d0 35%, #615fde 68%, #6980f2 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    bottom: 0;
    color: #fff;
    display: block;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#6819e8', endColorstr='#6980f2', GradientType=1); /* IE6-9 */
    height: 100%;
    left: 0;
    opacity: 0;
    outline: 1px solid rgba(255, 255, 255, 0.12);
    outline-offset: -13px;
    position: absolute;
    text-align: center;
    top: 0;
    transition: opacity 500ms;
    width: 100%;
}

.portfolio-image-holder { position: relative; }

.portfolio-image-holder:before {
    border: 1px solid rgba(255, 255, 255, 0.14);
    bottom: 12px;
    content: "";
    left: 12px;
    position: absolute;
    right: 12px;
    top: 12px;
}

span.portfolio-hover:before {
    content: ' ';
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}

span.portfolio-hover span {
    display: inline-block;
    text-align: center;
    vertical-align: middle;
}

span.portfolio-hover a {
    color: #fff;
    text-decoration: none;
}

.project-title {
    display: block !important;
    font-size: 24px;
    font-weight: 100;
}

.portfolio-links {
    background-color: transparent;
    border: 2px solid #fff;
    border-radius: 50%;
    cursor: pointer;
    display: inline-block;
    height: 50px;
    width: 50px;
}

.portfolio-links:hover {
    background-color: #fff;
    border: 2px solid #fff;
    color: #8980FE;
}

.portfolio-links-icons {
    font-size: 24px;
    line-height: 2 !important;
}

.badge {
    background-color: transparent;
    border-radius: 0;
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 1px;
    position: absolute;
    text-transform: uppercase;
    z-index: 1;
}

.portfolio-badge {
    bottom: 15px;
    color: #fff;
    left: 13px;
}

.services-badge {
    color: #313131;
    right: 30px;
    top: 15px;
}


#thework {
    -webkit-align-content: flex-start;
    -webkit-flex-flow: row wrap;
    -webkit-justify-content: space-between;
    display: -webkit-flex;
}

/* =Pricing
-------------------------------------------------------------- */

.plan {
    background: #2B2B2B;
    list-style: none;
    padding: 0;
    text-align: center;
}

.plan li {
    -webkit-transition: 300ms;
    border-top: 1px solid #313131;
    color: #ccc;
    font-size: 14px;
    padding: 10px 15px;
    transition: 300ms;
}

.plan li.plan-price { border-top: 0; }

.plan li.plan-name {
    background: #191919;
    border-top: 0;
    color: #fff;
    font-family: 'Roboto', sans-serif;
    font-size: 24px;
    font-weight: 100;
    line-height: 24px;
    margin-bottom: 15px;
    padding: 15px;
}

.plan li > strong {
    color: #8980FE;
    font-size: 18px;
}

.plan li.plan-action { padding: 18px; }

.plan.featured {
    -ms-transform: scale(1.05);
    -webkit-transform: scale(1.05);
    transform: scale(1.05);
}

.plan.featured li.plan-name { background: #191919; }

.plan.featured:hover li.plan-name { background: #8980FE; }

.plan.featured2 li.plan-name { background: #191919; }

.plan.featured2:hover li.plan-name { background: #8980FE; }

.plan:hover li.plan-name { background: #131313; }

.plan-name-option3 {
    font-size: 12px !important;
    font-weight: 300 !important;
    margin-bottom: 0 !important;
}

#footer {
    margin-top: 100px;
    padding-bottom: 30px;
}

.pricing-clients {
    -moz-transition: opacity 1s ease-in-out;
    -o-transition: opacity 1s ease-in-out;
    -webkit-transition: opacity 1s ease-in-out;
    display: inline-block;
    opacity: .6;
    transition: opacity 1s ease-in-out;
    width: 150px;
}

.pricing-clients:hover { opacity: 1; }

/* =Timeline
-------------------------------------------------------------- */

.timeline {
    list-style: none;
    margin: 0;
    padding: 0;
    position: relative;
}

.timeline:before {
    background-color: #2C2C2C;
    bottom: 0;
    content: "";
    left: 42px;
    margin-left: -1.5px;
    position: absolute;
    top: 0;
    width: 1px;
}

.timeline > li {
    margin-bottom: 50px;
    min-height: 50px;
    position: relative;
}

.timeline > li:before, .timeline > li:after {
    content: " ";
    display: table;
}

.timeline > li:after { clear: both; }

.timeline > li .timeline-panel {
    float: right;
    padding: 0 20px 0 100px;
    position: relative;
    text-align: left;
    width: 100%;
}

.timeline > li .timeline-panel:before {
    border-left-width: 0;
    border-right-width: 15px;
    left: -15px;
    right: auto;
}

.timeline > li .timeline-panel:after {
    border-left-width: 0;
    border-right-width: 14px;
    left: -14px;
    right: auto;
}

.timeline > li .timeline-image {
    background-color: #272727;
    border: 4px solid #3A3A3A;
    border-radius: 100%;
    color: #fff;
    height: 80px;
    left: 0;
    margin-left: 0;
    position: absolute;
    text-align: center;
    width: 80px;
    z-index: 100;
}

.timeline > li .timeline-image h4 {
    font-size: 10px;
    line-height: 14px;
    margin-top: 12px;
}

.timeline > li.timeline-inverted > .timeline-panel {
    float: right;
    padding: 0 20px 0 100px;
    text-align: left;
}

.timeline > li.timeline-inverted > .timeline-panel:before {
    border-left-width: 0;
    border-right-width: 15px;
    left: -15px;
    right: auto;
}

.timeline > li.timeline-inverted > .timeline-panel:after {
    border-left-width: 0;
    border-right-width: 14px;
    left: -14px;
    right: auto;
}

.timeline > li:last-child { margin-bottom: 0; }

.timeline .timeline-heading h4 {
    margin-bottom: 12px;
    margin-top: 0;
}

.timeline .timeline-heading h4.subheading { text-transform: none; }

.timeline .timeline-body > p, .timeline .timeline-body > ul { margin-bottom: 0; }

/* =Contact + Map
-------------------------------------------------------------- */

#LoginSection .form-control,
#contact .form-control {
    -moz-box-shadow: none !important;
    -webkit-box-shadow: none !important;
    background-color: transparent;
    border: none;
    border-bottom: 2px solid #292929;
    border-radius: 0px;
    box-shadow: none !important;
    color: #a1a1a1;
    font-size: 14px;
    font-weight: 400;
    padding: 0;
}

#LoginSection .has-error .form-control,
#contact .has-error .form-control { border-color: #2F2F2F; }

#LoginSection .has-error .checkbox, .has-error .checkbox-inline, .has-error .control-label, .has-error .help-block, .has-error .radio, .has-error .radio-inline, .has-error.checkbox label, .has-error.checkbox-inline label, .has-error.radio label, .has-error.radio-inline label,
#contact .has-error .checkbox, .has-error .checkbox-inline, .has-error .control-label, .has-error .help-block, .has-error .radio, .has-error .radio-inline, .has-error.checkbox label, .has-error.checkbox-inline label, .has-error.radio label, .has-error.radio-inline label {
    color: #8980fe;
    font-size: 12px;
    font-weight: 400;
}

#LoginSection .has-error .form-control:focus,
#contact .has-error .form-control:focus { border-color: #2F2F2F; }

.map-responsive {
    height: 0;
    overflow: hidden;
    padding-bottom: 400px;
    position: relative;
}

.map-responsive iframe {
    height: 400px;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
}

.form-control { height: 42px; }

#map { height: 400px; }

/* =Footer
-------------------------------------------------------------- */

.theme-title {
    color: #fff;
    font-family: 'Montserrat', sans-serif;
    font-size: 24px;
    margin-bottom: 15px;
    margin-top: 10px;
    text-transform: uppercase;
}

.theme-title-smaller { font-size: 16px; }

footer hr {
    border: 0;
    border-top: 1px solid #353535;
    margin-bottom: 0;
    margin-top: 45px;
}

.btn-up-footer {
    display: inline-block;
    position: relative;
    top: -21px;
}

.social-icons-dark-hover {
    -moz-transition: color 500ms;
    -o-transition: color 500ms;
    -webkit-transition: color 500ms;
    color: #fff;
    transition: color 500ms;
}

.social-icons-dark-hover:hover { color: rgba(255, 255, 255, 0.70); }

#clock span {
    color: #ccc;
    display: block;
    font-size: 12px;
}

#clock b {
    display: block;
    font-family: 'Montserrat';
    font-size: 50px;
    line-height: 46px;
}

#clock .clock-section {
    display: inline-block;
    padding: 0 20px;
}

#clock .clock-section:last-child { border-right: none; }

/* =Media Queries
-------------------------------------------------------------- */

@media (max-width: 767px) {
    .text-center-xs { text-align: center; }

    .mt10-xs { margin-top: 10px; }

    .mt20-xs { margin-top: 20px; }

    .mt30-xs { margin-top: 30px; }

    .mt40-xs { margin-top: 40px; }

    .mb10-xs { margin-bottom: 10px; }

    .mb20-xs { margin-bottom: 20px; }

    .mb30-xs { margin-bottom: 30px; }

    .mb40-xs { margin-bottom: 40px; }

    .section-padding {
        padding-bottom: 50px;
        padding-top: 50px;
    }

    .section-padding-top { padding-top: 50px; }

    .navbar-default .navbar-nav > li > a { line-height: 1; }

    .navbar-nav .open .dropdown-menu { padding: 0; }

    .navbar-default .navbar-nav .open .dropdown-menu > li > a { color: #fff; }

    .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus, .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover { color: rgba(255, 255, 255, 0.60); }

    .section-title h2 { font-size: 34px; }

    .navbar-nav { margin: 12px -15px; }

    #pricing .plan.featured {
        -ms-transform: scale(1.03);
        -webkit-transform: scale(1.03);
        transform: scale(1.03);
    }

    .btn-category { margin-bottom: 5px; }

    .pricing-clients { width: 90px; }

    #our-process .process-box { border-bottom: 1px solid #2d2d2d; }

    .modal-header .close { margin-right: -62px; }

    .breadcrumb-holder { padding: 12px 0 12px 0; }

    .ticker { height: 40px; }

    .ticker h1 { height: 40px; }

    .big-logo { font-size: 50px; }

    .jumbotron.jumbotron-register { height: initial; }

    .jumbotron.jumbotron-register h1 { font-size: 40px; }
}

@media (min-width: 768px) {
    .timeline:before { left: 50%; }

    .timeline > li {
        margin-bottom: 100px;
        min-height: 100px;
    }

    .timeline > li .timeline-panel {
        float: left;
        padding: 0 20px 20px 30px;
        text-align: right;
        width: 41%;
    }

    .timeline > li .timeline-image {
        height: 100px;
        left: 50%;
        margin-left: -50px;
        width: 100px;
    }

    .timeline > li .timeline-image h4 {
        font-size: 13px;
        line-height: 18px;
        margin-top: 16px;
    }

    .timeline > li.timeline-inverted > .timeline-panel {
        float: right;
        padding: 0 30px 20px 20px;
        text-align: left;
    }

    .modal-dialog { margin: 100px auto; }

    .navbar > .container .navbar-brand, .navbar > .container-fluid .navbar-brand { margin-left: 0; }

    .dropdown .dropdown-menu {
        -moz-transition: all 200ms ease-in;
        -ms-transition: all 200ms ease-in;
        -o-transition: all 200ms ease-in;
        -webkit-transition: all 200ms ease-in;
        display: block;
        opacity: 0;
        transition: all 200ms ease-in;
    }

    .dropdown:hover .dropdown-menu {
        display: block;
        opacity: 1;
    }
}

@media (min-width: 768px) and (max-width: 992px) {
    #our-process h2 { font-size: 28px; }

    #our-process .process-content p {
        font-size: 16px;
        width: 75%;
    }

    .text-center-sm { text-align: center; }

    .mt10-sm { margin-top: 10px; }

    .mb10-sm { margin-bottom: 10px; }

    .mt20-sm { margin-top: 20px; }

    .mb20-sm { margin-bottom: 20px; }

    .mt30-sm { margin-top: 30px; }

    .mb30-sm { margin-bottom: 30px; }

    .jumbotron.jumbotron-register h1 { font-size: 45px; }
}

@media (min-width: 992px) {
    .timeline > li { min-height: 150px; }

    .timeline > li .timeline-panel { padding: 0 20px 20px; }

    .timeline > li .timeline-image {
        height: 150px;
        margin-left: -75px;
        width: 150px;
    }

    .timeline > li .timeline-image h4 {
        font-size: 18px;
        line-height: 26px;
        margin-top: 30px;
    }

    .timeline > li.timeline-inverted > .timeline-panel { padding: 0 20px 20px; }
}

@media (min-width: 1200px) {
    .timeline > li { min-height: 170px; }

    .timeline > li .timeline-panel { padding: 0 20px 20px 30px; }

    .timeline > li .timeline-image {
        height: 170px;
        margin-left: -85px;
        width: 170px;
    }

    .timeline > li .timeline-image h4 { margin-top: 40px; }

    .timeline > li.timeline-inverted > .timeline-panel { padding: 0 30px 20px 20px; }
}