@using Microsoft.AspNetCore.Server.Kestrel.Core.Internal.Http
@model ai.option.web.ViewModels.IqOptionRequest



<div class="jumbotron jumbotron-main" id="home">
    <div id="particles-js"><canvas class="particles-js-canvas-el" style="width: 100%; height: 100%;" width="784" height="905"></canvas></div><!-- /.particles div -->
    <div class="container center-vertically-holder">
      
        @await Html.PartialAsync("_LoginPartial")
            
    </div><!-- /.container -->
</div>