@{
    ViewData["Title"] = "Home Page";
}

<div class="jumbotron jumbotron-main" id="home">
    <div id="particles-js"><canvas class="particles-js-canvas-el" style="width: 100%; height: 100%;" width="941" height="905"></canvas></div><!-- /.particles div -->
    <div class="container center-vertically-holder">
        <div class="center-vertically">
            <div id="scaleReveal" class="col-sm-8 col-sm-offset-2 col-lg-6 col-lg-offset-3 text-center">
                <span class="icon-handle-streamline-vector big-logo"></span>
                <div class="ticker">
                    <h1 style="margin-top: -70px;">Web + Dev</h1>
                    <h1>EURUSD + AI</h1>
                    <h1>USDJPY + AI</h1>
                </div>
                <hr>
                <p>Particles is a fun and multipurpose template, with clean &amp; modern design <i>+</i>&nbsp; code.</p>
                <a href="#work" data-id="work" class="scroll-link btn btn-default btn-white btn-lg mt15">The work <span class="ion-android-arrow-down"></span></a>
            </div><!-- /.column -->
        </div><!-- /.vertical center -->
    </div><!-- /.container -->
</div>